# html

RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule	^/([0-9]+)$	/projects.jsp?projectId=$1

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1&master=master

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1

