# JSON

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteRule	^/rpc/([0-9]+)$	/rpc/documentlist?projectId=$1

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&master=master

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&userId=$3

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&master=master

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&userId=$3




# html

RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule	^/([0-9]+)$	/projects.jsp?projectId=$1

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1&master=master

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1

