# JSON

RewriteRule	^/rpc/([0-9]+)$	/rpc/documentlist?projectId=$1

RewriteRule	^/rpc/([0-9]+)/([0-9]+)/u$	/rpc/userlist?projectId=$1&documentId=$2

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteRule ^/rpc/([0-9]+)/([0-9]+)$	/rpc/userdocumentlist?documentId=$2

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^DELETE$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)$	/rpc/document/delete?documentId=$2

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^DELETE$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/([0-9]+)$	/rpc/document/delete?userDocumentId=$3

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&type=MASTER

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&userId=$3

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule ^/rpc/compare/([0-9]+)/([0-9]+)/([0-9]+),([0-9]+)	rpc/compare?projectId=$1&documentId=$2&userId=$3&userId=$4


RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&type=MASTER

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/m	/DocumentContentHandling?documentId=$2&type=MASTER

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/ms	/DocumentContentHandling?documentId=$2&type=MERGED_SEG

RewriteCond %{HTTP_ACCEPT}	^.*application/json.*$
RewriteCond	%{REQUEST_METHOD}	^POST$
RewriteRule ^/rpc/c/([0-9]+)/([0-9]+)/([0-9]+)	/DocumentContentHandling?documentId=$2&userId=$3



# export
RewriteRule ^/rpc/xmi/([0-9]+)/([0-9]+)	/rpc/document/export?documentId=$2&format=xmi
RewriteRule ^/rpc/par/([0-9]+)/([0-9]+)	/rpc/document/export?documentId=$2&format=par
RewriteRule ^/rpc/xml/([0-9]+)/([0-9]+)	/rpc/document/export?documentId=$2&format=xml

# html

RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
RewriteCond	%{REQUEST_METHOD}	^GET$
RewriteRule	^/([0-9]+)$	/projects.jsp?projectId=$1

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1&master=master

#RewriteCond %{HTTP_ACCEPT}	^.*text/html.*$
#RewriteCond	%{REQUEST_METHOD}	^GET$
#RewriteRule	^/([0-9]+)/([0-9]+)/([0-9]+)$	/main.jsp?documentId=$1

