body{
	font-size:11pt;
}
.ui-widget {
    font-size:80% !important;
}
li.selected {
	background-color:yellow;
}

li.selected > div {
	background-color:#CCCC99;
}

div#status {
	text-align:center;
}


div#content {
	margin:10px;
	position:relative;
	top:50px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:11pt;
}
div#controls {
	float:right;
}
div#artifact {
	width:50%;
	border:thin solid black;
	padding:5px;
}

#outline li div .drg, 
.outline li div .drg { 
	 padding:1px;
	  margin:0 .5em 0 0; 
	  border-left:2px dotted #bbb; 
	  border-right:2px dotted #bbb;
}
.parallel .outline_container {
	max-width:45%
}
.outline_container {
	float:left;
	padding:5px;
	margin:5px;
	border-radius:3px;
	
}

#outline,
.outline { 
	margin:.5em 0;
		 }
#outline li,
.outline li { padding:0; margin:.5em 0 0 0; }
#outline li div,
.outline li div { margin:0; padding:.25em; position:relative; border:1px solid #aaa; }
#outline, 
.outline,
#outline ul,
.outline ul { margin:0;list-style-type:none; }
.outline li div a.del,
#outline li div a.del { color:#ccc; top:-5px; right:5px;  font-size:20px; position:absolute; text-decoration:none; }
.outline li div a.del:hover,
#outline li div a.del:hover { color:#c33; }
.outline li.rem > div,
#outline li.rem > div { border:1px solid #000; }
.placeholder { background:#eee; }
.nesttoodeep { background:#ffdedd; }


#split,#merge { display:none; }
#form_mergecandidates { width:350px; }

.annocat { font-style:italic; }

#topbar { 
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	background-color:#DDD;
	padding:10px; 
	height:32px;
	font-size:10pt;
}

.searchFound {
	background-color:red;
}

span.search_container {
	width:150px;
}

.search_container span {
	display:inline-block;
	vertical-align:middle;
}
.search_container input {
	display:inline;
	width:100px;
	vertical-align:middle;
}

#topbar a {
	color:black;
}

#topbar .left {
	position:relative;
	left:0px;
	padding-left:10px;
}

#topbar .middle {
	position:absolute;
	left:40%;
	}

#topbar .right {
	padding-right:10px;
	position:absolute;
	right:0px;
	text-align:right;
}
	
.documentlist {
	display:none;
}
	
#topbar .username {
	font-style:italic;
}

.splitcontent > div {
	float:left;
	margin:15px;
}

.splitcontent .splitleft {
		width:30%;	
}

.mark1 {
	background-color:#C88;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#documentuploadarea {
	width:50%;
	min-width:100px;
}

#rsidebar {
	font-family:sans-serif;
	width:400px;
	height:100%;
	position:fixed;
	top:50px;
	right:0px;
	border-left:thin solid #DDD;
	display:none;
}

#rsidebar h1 {
	text-align:center;
}

#rsidebar ul {
	font-family:monospace;
	font-size:small;
}