#event-sequence .content .event {
	border:thin solid #AAA;
	border-radius:5px;
	margin-left:100px;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:0;
	min-width:10%;
	max-width:80%;
}

#event-sequence .content .event .eventclass {
	font-variant:small-caps;
}


#event-sequence table.event,div.event {
	border:none;
	margin-top:20px;
	border-collapse: collapse;
	overflow:scroll;
}

#event-sequence table.event tr:first-child {
	border-bottom:thin solid black;
}

#event-sequence table.event tr td {
	padding-right:15px;
}

#event-sequence .mentionhighlight {
	background-color:blue;
	fill:#AAC !important; 
}

#event-sequence rect.tokenbg {
	fill:none;
}