#event-similarities span.token {
	color:#999; 
	font-size:small;
}

#event-similarities span.event {
	color:#000;
	font-size:medium;
	position:relative;
}

#event-similarities .stWordNet {
	background-color:rgb(255,100,100);
}

#event-similarities .stFrameNet {
	background-color:rgb(100,255,100);
}

#event-similarities .stVerbNet {
	background-color:rgb(100,100,255);
}

#event-similarities .stArgumentText {
	background-color:rgb(255,100,255);
}

#event-similarities .stGaussianDistanceSimilarity {
	background-color:rgb(100,255,255);
}

#event-similarities div.typechooser {
	display:none;
	font-size:small;
	position:absolute;
	top:15px;
	left:0;
	border:thin solid #AAA;
	z-index:100;
	width:170px;
	border-radius:3px;
	background-color:rgba(255,255,255,0.9);	
}


#event-similarities label.checkbox input[type="checkbox"] {display:none;}
#event-similarities label.checkbox span {
    display:inline-block;
    border:2px solid #BBB;
    border-radius:10px;
    width:10px;
    height:10px;
    vertical-align:middle;
    margin:3px;
    background:#EEE;
    cursor:pointer;
}
#event-similarities label.checkbox :checked + span {
    background:#333;
}

#event-similarities span.event:hover div.typechooser {
	display:block;
}

#event-similarities div.typechooser:hover {
	display:block;
}

#event-similarities div.sourcemarker{
	width:15px;
	height:15px;
	border-radius:7px;
	display:inline-block;
}