<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>de.nilsreiter.web</display-name>
  <welcome-file-list>
    <welcome-file>/document/select.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoadDocument</servlet-name>
    <servlet-class>de.nilsreiter.web.DocumentLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAlignment</servlet-name>
    <servlet-class>de.nilsreiter.web.AlignmentLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewDocumentSet</servlet-name>
    <servlet-class>de.nilsreiter.web.DocumentSetLoader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEventSimilaritiesDocument</servlet-name>
    <servlet-class>de.nilsreiter.web.EventSimilarityLoaderDocument</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEventSimilaritiesDocumentSet</servlet-name>
    <servlet-class>de.nilsreiter.web.EventSimilarityLoaderDocumentSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEventSimilaritiesAlignment</servlet-name>
    <servlet-class>de.nilsreiter.web.EventSimilarityLoaderAlignment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEventScores</servlet-name>
    <servlet-class>de.nilsreiter.web.EventScoreLoader</servlet-class>
  </servlet>
  <context-param>
    <param-name>dbhost</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>reiter</param-value>
  </context-param>
  <context-param>
    <param-name>dbuser</param-name>
    <param-value>reiterns</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>bybNoaKni</param-value>
  </context-param>
  <context-param>
    <param-name>dbport</param-name>
    <param-value>3307</param-value>
  </context-param>
  <context-param>
    <param-name>dbidentifier</param-name>
    <param-value>rituals_</param-value>
  </context-param>
  <context-param>
    <param-name>development</param-name>
    <param-value>false</param-value>
  </context-param>
  <listener>
    <listener-class>de.nilsreiter.web.AppContextListener</listener-class>
  </listener>
  <servlet>
    <display-name>GetEventScores</display-name>
    <servlet-name>GetEventScores</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEventScores</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectDocument</servlet-name>
    <jsp-file>/document/select.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SelectAlignment</servlet-name>
    <jsp-file>/alignment/select.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SelectDocumentSet</servlet-name>
    <jsp-file>/documentset/select.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetEventSimilarities</display-name>
    <servlet-name>GetEventSimilarities</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEventSimilarities</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>GetAlignments</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetAlignments</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateDocumentSet</display-name>
    <servlet-name>CreateDocumentSet</servlet-name>
    <servlet-class>de.nilsreiter.web.CreateDocumentSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewEventSequence</servlet-name>
    <servlet-class>de.nilsreiter.web.EventSequenceLoader</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetEvents</display-name>
    <servlet-name>GetEvents</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEvents</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetDocumentSets</display-name>
    <servlet-name>GetDocumentSets</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetDocumentSets</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetDocumentInfo</display-name>
    <servlet-name>GetDocumentInfo</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetDocumentInfo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteDocumentSet</display-name>
    <servlet-name>DeleteDocumentSet</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.DeleteDocumentSet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetEvent</display-name>
    <servlet-name>GetEvent</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEvent</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetEntities</display-name>
    <servlet-name>GetEntities</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEntities</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchEvents</display-name>
    <servlet-name>SearchEvents</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.SearchEvents</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetEventClasses</display-name>
    <servlet-name>GetEventClasses</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetEventClasses</servlet-class>
  </servlet>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>de.nilsreiter.web.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetMetaInformation</display-name>
    <servlet-name>GetMetaInformation</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetMetaInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMetaInformation</servlet-name>
    <url-pattern>/rpc/get-meta-information</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseObject</display-name>
    <servlet-name>CloseObject</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.CloseObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseObject</servlet-name>
    <url-pattern>/rpc/close-object</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlignDocumentSet</display-name>
    <servlet-name>AlignDocumentSet</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.AlignDocumentSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlignDocumentSet</servlet-name>
    <url-pattern>/rpc/align</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageAlignments</servlet-name>
    <jsp-file>/alignment/manage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAlignments</servlet-name>
    <url-pattern>/manage-alignments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAlignmentInfo</display-name>
    <servlet-name>GetAlignmentInfo</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetAlignmentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAlignmentInfo</servlet-name>
    <url-pattern>/rpc/get-alignment-info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCMain</servlet-name>
    <jsp-file>/rpc/Main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCMain</servlet-name>
    <url-pattern>/rpc/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentSimilarities</servlet-name>
    <jsp-file>/documentset/document-similarities.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentSimilarities</servlet-name>
    <url-pattern>/document-similarities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDocumentSimilarities</display-name>
    <servlet-name>GetDocumentSimilarities</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetDocumentSimilarities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocumentSimilarities</servlet-name>
    <url-pattern>/rpc/get-document-similarities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventScores</servlet-name>
    <url-pattern>/rpc/get-event-scores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAlignment</servlet-name>
    <url-pattern>/view-alignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewDocumentSet</servlet-name>
    <url-pattern>/view-document-set</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEventSimilaritiesDocument</servlet-name>
    <url-pattern>/view-event-similarities-document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEventSimilaritiesDocumentSet</servlet-name>
    <url-pattern>/view-event-similarities-document-set</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEventSimilaritiesAlignment</servlet-name>
    <url-pattern>/view-event-similarities-alignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEventScores</servlet-name>
    <url-pattern>/view-event-scores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectDocument</servlet-name>
    <url-pattern>/select-document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAlignment</servlet-name>
    <url-pattern>/select-alignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectDocumentSet</servlet-name>
    <url-pattern>/select-document-set</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateDocumentSet</servlet-name>
    <url-pattern>/create-documentset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventSimilarities</servlet-name>
    <url-pattern>/rpc/get-event-similarities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAlignments</servlet-name>
    <url-pattern>/rpc/get-alignments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewEventSequence</servlet-name>
    <url-pattern>/view-event-sequence</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEvents</servlet-name>
    <url-pattern>/rpc/get-events</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDocumentSets</servlet-name>
    <url-pattern>/rpc/get-document-sets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDocumentInfo</servlet-name>
    <url-pattern>/rpc/get-document-info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDocumentSet</servlet-name>
    <url-pattern>/rpc/delete-document-set</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEvent</servlet-name>
    <url-pattern>/rpc/get-event</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEntities</servlet-name>
    <url-pattern>/rpc/get-entities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEvents</servlet-name>
    <url-pattern>/rpc/search-events</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEventClasses</servlet-name>
    <url-pattern>/rpc/get-event-classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDocument</display-name>
    <servlet-name>GetDocument</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.GetDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocument</servlet-name>
    <url-pattern>/rpc/get-document</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/rpc/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetArea</display-name>
    <servlet-name>SetArea</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.SetArea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetArea</servlet-name>
    <url-pattern>/rpc/set-area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreSVG</display-name>
    <servlet-name>StoreSVG</servlet-name>
    <servlet-class>de.nilsreiter.web.rpc.StoreSVG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreSVG</servlet-name>
    <url-pattern>/rpc/svg</url-pattern>
  </servlet-mapping>
</web-app>