body{
	font-size:12px;
}

li.selected {
	background-color:yellow;
}
div#content {
	margin:10px;
	position:relative;
	top:50px;
}
div#controls {
	float:right;
}
div#artifact {
	width:50%;
	border:thin solid black;
	padding:5px;
}

#outline li div .drg { 
	 padding:1px;
	  margin:0 .5em 0 0; 
	  border-left:2px dotted #bbb; 
	  border-right:2px dotted #bbb;
}
#outline { margin:.5em 0; }
#outline li { padding:0; margin:.5em 0 0 0; }
#outline li div  { margin:0; padding:.25em; position:relative; border:1px solid #aaa; }
#outline, #outline ul { margin:0;list-style-type:none; }
#outline li div a.del { color:#ccc; top:-5px; right:5px;  font-size:20px; position:absolute; text-decoration:none; }
#outline li div a.del:hover { color:#c33; }
#outline li.rem > div { border:1px solid #000; }
.placeholder { background:#eee; }
.nesttoodeep { background:#ffdedd; }


#split,#merge { display:none; }
#form_mergecandidates { width:350px; }

.annocat { font-style:italic; }

#topbar { 
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	background-color:#DDD;
	padding:7px; 
	text-align:right;
}
	
.documentlist {
	display:none;
}
	
#topbar .username {
	font-style:italic;
}
 #projectlistarea,#documentlistarea {
	width:45%;
	margin:15px;
}
.splitcontent div {
	float:left;
}

