#help {
	position:fixed;
	top:40%;
	left:0;
	border:thin solid black;
	background-color:white;
	cursor:move;
	border-radius:5px;
}

#help > div {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#DDD;
	text-align:center;
	width:100%;
}

#help .command {
	font-family:monospace;
}

#help ul {
	list-style-type:none;
	margin:0px;
	padding:1px;
}

#help ul li {
	margin:0px;
	padding:5px;
}