 

div.content {
	margin:0;	
	padding:0;
	border-style:none;
}

div.box {
	border:thin solid black;
	float:left;
	padding:5px;
	margin:2px;
}

div#loading {
	background-color:white;
	height:100%;
	z-index:10;
	text-align:center;
}

.bloading {
	background-image:url(../gfx/loading1.gif);
}


div.alignmenttext {
	float:left;
	width:40%;
	padding:10px;
}
div.alignmenttext h1 {
	text-align:center;
}
div.originaltext {
	width:90%;
	padding:10px;
}

.surface {
	font-family:serif;
}

.localsearchresult {
	background-color:#FAA;
}

.highlightFrame {
	background-color:green;
}
.highlightEvent {
	background-color:red;
}
.highlightMention {
	background-color:#CCA;
}


body {
	margin:0;
	padding:0;
	border-style:none;
	font-family:sans-serif;
	font-size:small;
	background-color:#EEE;

}

span.div {
	display:block;
	margin-bottom:5px;
}



#canvascontainer {
	height:100%;
	background:none;
	position:absolute;
	top:0px;
	width:100%;
	z-index:0;
}

#canvas {
	pointer-events:none;
	width:100%;
	height:100%;
	overflow:visible;
	background:none;
}

div.locationbar {
	padding:0;
	font-style:sans-serif;
}

ul { 
	list-style-type:none;
}

.dialog {
	border:thin solid black;
	border-radius:5px;
	padding:0;
	/*width:300px;*/
	position:relative;
	top:150px;
	left:20%;
	float:left;
	margin:50px;
}

.dialog h1 {
	margin:0;
	padding:10px;
	background-color:#CCC;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-size:large;
}

.dialog p, .dialog > div {
	padding:5px;
	margin:10px;
}


table.filelist, ul.filelist {
	padding:5px;
	border:thin solid #DDD;
	border-collapse:collapse;
	height:30vh;
}

table.filelist tbody {
	height:100%;
	overflow:auto;
}



ul.filelist li, table.filelist tbody tr {
	/*cursor:pointer;*/
	background-color:white;
}
ul.filelist li:nth-child(even), table.filelist tr:nth-child(even) {
	background-color:#DDD;
}

table.filelist tr th {
	font-size:x-small;
	padding:5px;
}


table.filelist tr td {
	padding:5px;
}

#documentsetcreator {
	height:350px;
}





/* Menus and navigation */
#sidebar {
	position:fixed;
	top:5%;
	right:0px;
	width:300px;
	border:thin solid black;
	border-right:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:white;
	height:80vh;
	overflow:auto;
}

#sidebar h1 {
	margin:0;
	padding:10px;
	background-color:#EEE;
	border-top-left-radius:5px;
	font-size:medium;
}

#sidebar h2 {
	font-size:small;
}

#sidebar ul {
	margin-top:0;
	padding-left:10px;
	font-size:small;
}

#sidebar table {
	font-size:small;
}

#sidebar div {
	padding-left:3px;
}

.menu {
	width:100%;
	margin:0;
	padding:0;
	border:none;
	z-index:1;
}

.menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.menu ul li {
	float:left;
	margin:0px;
	padding:10px;
	border-bottom:none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.menu ul li.active {
	font-size:medium;
}

.menu ul li.disabled {
	color:#888;
}

.menu ul li a {
	text-decoration:none;
	color:black;
}




.level1 > .menu {
	text-align:center;
	position:relative;
	left:25%;
	border:none;
	width:50%;
}

.level1 > .menu ul li {
	background-color:#DDD;
	border:thin solid #EEE;
	border-bottom:none;
}

.level2 {
	background-color:#DDD;
}

.level2 > .menu ul li {
	background-color:#CCC;
	border:thin solid #DDD;
	border-bottom:none;
}

.level3 {
	background-color:#CCC;
}

.level3 > .menu {
	width:100% !important;
	border:none;
	padding:5px;
}

.level3 > .menu ul li {
	background-color:#BBB;
	border:thin solid #CCC;
	border-bottom:none;
}

.level4 {
	background-color:#BBB;
	width:100%;
}

.level4 > .menu {
	width:100% !important;
	border:none;
	padding:5px;
}

.level5 {
	background-color:white;
	position:relative;
	top:0;
}

/*
 * Search Results
 */
 
div#results {
}

div#results > table {
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
	font-size:small;
}

div#results > table > tbody > tr > td {
	border:thin solid black;
}

div#results td.hit {
	border:medium solid red;
}

.ui-button-text {
	font-size:small;
	font-weight:normal;
}

/*
 * Search query definition
 */
div#eventpattern {
	overflow:scroll;
	max-height:150px;
	width:1000px;
} 

#eventpattern label {
	font-size:small;
}

.addcontainer {
	float:left;
}

div.eventspecifier {
	font-size:small;	
}

/**
 * Running processes
 */
div#running {
	position:absolute;
	right:5px;
	top:5px;
}

.alignment-select #alignmentform > div {
	float:left;
}
